<div class="row" id="logo">
    <div class="text-center">
        <p class="h1" style="font-size-adjust: inherit">Mars Image Browser</p>
        <p class="h5">Browse Nasa Mars images and save your preferred ones.</p>
        <!-- personal information modal button -->
        <button aria-expanded="false" aria-pressed="false" class="btn btn-secondary m-2"
                data-bs-target="#inf-modal" data-bs-toggle="modal" type="button">
            Who am i
        </button>
    </div>
</div>