<div class="row justify-content-center">
    <div class="col-auto border rounded-pill my-2" id="countdown" style="display: none">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto mt-2">
        <form action="/register/createUser" method="POST" id="password-form">
            <div class="row g-2">
                <div class="my-2">
                    <input type="password" id="input-password" class="form-control" placeholder="password"
                           name="password" aria-label="password" autocomplete="new-password">
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="my-2">
                <input type="password" class="form-control" placeholder="confirm password" aria-label="password2"
                       aria-describedby="password2" name="password2" id="input-password2" autocomplete="new-password">
                <div class="invalid-feedback"></div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary">Submit</button>
                <button class="btn btn-secondary" form="password-form" type="reset">clear</button>
            </div>
        </form>
    </div>
</div>